body{
    background-color: darkgray;
}

table{
    margin: auto;
}

/* Standard unmarked cell */
#main-table td{
    background-color: white;
    width: 20px;
    height: 20px;
    border:1px solid lightgray;

    transition: background-color 0.1s;
}
#main-table tr .start-cell{
    background-color: green;
}
#main-table tr .end-cell{
    background-color: red;
}
#main-table .step-cell{
    background-color: steelblue;
}
#main-table .wall-cell{
    background-color: dimgrey;
}

#main-table td:hover{
    background-color: black;
}