body{
    background-color: #181818;
}

h1, h3{
    color: white;
}
h1{
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 20px;
}

table{
    margin: auto;
}

.button-section{
    margin-bottom: 20px;
}
.button-section .row .col-6 {
    padding: 0 1px;
}

.btn:focus{
    outline: none;
    box-shadow: none;
}
.btn-primary{
    border-color: #ff6a3e;
    background-color: transparent;
    width: 100%;
    padding: 0px;
}

.main-area{
    height: 100vh;
    background-color: rgba(0, 0, 0, 20%);
}

/* Standard unmarked cell */
#main-table td{
    background-color: white;
    width: 20px;
    height: 20px;
    border:1px solid lightgray;

    transition: background-color 0.1s;
}
#main-table tr .start-cell{
    background-color: green;
}
#main-table tr .end-cell{
    background-color: red;
}
#main-table .step-cell{
    background-color: steelblue;
}
#main-table .current-step-cell{
    transition: background-color 0s;
    background-color: orchid;
}
#main-table .wall-cell{
    background-color: #151515;
}
#main-table .solution-cell{
    background-color: chocolate;
}

#main-table td:hover{
    background-color: black;
}